*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
   
body {
  padding: 0%;
  margin:0%;
  /* Added a background color to the main page and set it to blue*/
  background-color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* Set the color black as the font color */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container{
   width:800px;
   max-width: 80%;
   border-radius: 10px;
   /* Added a background color to the container of the webpage and set it to yellow */
   background-color: yellow;
   font-size: larger;
   font-weight: bolder;
   padding: 20px;
   /* Added a box shadow around the container that is holding the quiz */
   box-shadow: 0 0 10px 2px;
}

.btn-grid{
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* Added space between the contents of the container */
  gap: 50px;
  margin: 50px 0;
}

.btn{
  /* Added styling to the answer button set font color to white and button color to black */
  background-color: black;
  color: white;
  /* Made the border of the answer buttons a mix between squaree and round */
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}

.next-btn, .start-btn{
  font-weight: bold;
  font-size: larger;
  /* Made the border of the next and start button a mixture of round and a tad bit square by using border radius */
  border-radius: 10px;
  /* Placed the next and start button to the bottom right of the container by using float */
  float:right
}

/* Set a style element with --hue to change the color of the correct answer to yello when it is clicked in the quiz */
.btn.correct {
  --hue: var(--hue-correct);
  color: yellow;
}



.hide{
  display: none;
}
.controls {
  
}